.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-container button{
  margin : 20px 40px;
  outline: none;
  border: none;
  padding:10px 20px;
  background-color: black;
  color:white;
  font-size: 30px;
  border-radius: 10px;
}
h1{
  font-size: 92px;
}
button:hover{
  background-color: orange;
  box-shadow: 5px 5px 3px black;
}